* {
    box-sizing: border-box;
}

body{
    background-color: #666666;
    margin: 10px;
}

.section {
    height: 50px;
    margin: 10px auto;
    text-align: center;
    padding: 50px 0px;
}

.float {
    float: left;
}

.content {
    height: 300px;
}

section {
    width: 55%;
    position: relative;
    padding: 20px;
    text-align: center;
    height: 300px;
    overflow: auto;
    margin: auto 10px auto auto;
}

aside {
    margin: auto auto auto 10px;
    text-align: center;
    height: 300px;
    padding: 30px;
    overflow: auto;
}

.clear {
    clear: both;
}

.container {
}

.viewWindow {
    width:  960px;
    margin: 0px auto;
}

.inner {
    width: 80%;
}

.h {
    padding: 10px 40px;
    margin: 10px auto;
    width: 80%;
}

p {
    padding: 10px 40px;
    margin: auto;
    width: 80%;
}

.bg-white {
    background-color: white;
    color: #666666;
}

article {
    background-color: #666666;
    color: white;
    margin: 20px auto;
    height: 70%;
    padding: 10px;
}